@model OnlineCoffeeStoreClientSite.Models.Category

@{
    ViewData["Title"] = "Edit Category";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit Category</h2>

<form asp-action="Edit" asp-controller="Category" method="post" asp-route-id="@Model.Id">
    <input type="hidden" asp-for="Id" />

    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>@Html.LabelFor(m => m.CategoryName)</th>
                <td>
                    @Html.TextBoxFor(m => m.CategoryName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.CategoryName, "", "This field is required")
                </td>
            </tr>

            <tr>
                <td colspan="2" class="text-end">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <a asp-controller="Category" asp-action="Index" class="btn btn-outline-secondary">Back</a>
                </td>
            </tr>
        </tbody>
    </table>
</form>
